<li>{{data.platform}}</li>
<li>{{data.version}}</li> 
<li>Memory used</li> 
{{#each data.memory}}
<li>{{this}} </li> 
 {{/each}}
<li>execPath: {{data.execPath}}</li> 
<li>pid: {{data.pid}}</li> 
<li>number of cpus: {{data.numCPUs}}</li> 